<div class="login-container">
  <div class="signup-login">
    <div class="sign-up">
      <a href="<%= new_user_path %>">Sign Up</a>
    </div>
    <div class="login">
      <a href="<%= new_session_path %>">Login</a>
    </div>
  </div>

  <form action="<%= session_path %>" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="text"
           name="user[email]"
           placeholder="email">
    <input type="password"
           name="user[password]"
           placeholder="password">
    <input type="submit" value="Log In!">
  </form>
</div>
