<div class="signup-login">
  <button><a href="<%= new_user_path %>">SignUp</a></button> <button>Login</button>
</div>

<form action="<%= session_path %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="text"
         name="user[email]"
         placeholder="email">
  <input type="password"
         name="user[password]"
         placeholder="password">
  <input type="submit" value="Log In!">
</form>
