<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey, <%= @user.firstname %>!</h3>
    <p>Someone has comment on your post!</p>
  </body>
</html>
