<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey, <%= @user.firstname %>!</h3>
    <p><%= @commenter.firstname %> <%= @commenter.lastname %> has commented on your post!</p>
    <p>
      Check it out on <a href="www.neighbornation.co">Neighbor Nation!</a></p>
    <p>Stay classy!</p>
    <hr>
    <h4>Neighbor Nation Team</4>
  </body>
</html>
