<div class="login-container">
  <div class="signup-login">
    <div class="sign-up">
      <a href="<%= new_user_path %>">Sign Up</a>
    </div>
    <div class="login">
      <a href="<%= new_session_path %>">Login</a>
    </div>
  </div>

  <form action="<%= users_path %>" method="post">
    <input class="app-border"
           type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input class="app-border"
           type="email"
           name="user[email]"
           placeholder="email">
    <input class="app-border"
           type="password"
           name="user[password]"
           placeholder="password">
    <input class="app-border"
           type="password"
           name="user[password_confirmation]"
           placeholder="confirm your password">
    <input class="app-border"
           type="text"
           name="user[firstname]"
           placeholder="first name">
    <input class="app-border"
           type="text"
           name="user[lastname]"
           placeholder="last name">
    <div class="street">
      <input class="app-border streetbig" type="text"
             name="user[street]"
             placeholder="street name">
      <input class="app-border streetsmall" type="text"
             name="user[aptnumber]"
             placeholder="apartment #">
    </div>

    <div class='location'>
      <input class="app-border"
             type="text"
             name="user[city]"
             placeholder="city">
      <input class="app-border"
             type="text"
             name="user[state]"
             placeholder="state">
      <input class="app-border"
             type="text"
             name="user[zip]"
             placeholder="zip">
    </div>
    <input type="submit" value="Sign Up">
  </form>
</div>
