<div class="signup-login">
  <button>SignUp</button> <button>Login</button>
</div>

<form action="<%= session_path %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>"
  <input type="text"
         name="user[username]"
         placeholder="User Name">
  <input type="email"
         name="user[email]"
         placeholder="email">
  <input type="password"
         name="user[password]"
         placeholder="password">
  <input type="password"
         name="user[password_confirmation]"
         placeholder="confirm your password">
  <input type="text"
         name="user[firstname]"
         placeholder="first name">
  <input type="text"
         name="user[lastname]"
         placeholder="last name">

  <div class="street">
    <input class="streetbig" type="text"
           name="user[street]"
           placeholder="street name">
    <input class="streetsmall" type="text"
           name="user[aptnumber]"
           placeholder="apartment #">
  </div>

  <div class='location'>
    <input type="text"
           name="user[city]"
           placeholder="city">
    <input type="text"
           name="user[state]"
           placeholder="state">
    <input type="text"
           name="user[zip]"
           placeholder="zip">
  </div>
  <input type="submit" value="SignUp!"
</form>
