<div class="app-window">

  <ul class="tabs-group">
    <!-- Change 'my profile' to a dynamic variable so it can switch between 'my profile' and [name] profile -->
    <li><a href="#box-profile">My Profile</a></li>
    <li><a href="#box-neighbors">My Neighbors</a></li>
    <li><a href="#box-settings">Settings</a></li>
  </ul>

  <div class="box-wrap">
    <div id="box-profile">
      My profile info here.
    </div>

    <div id="box-neighbors">
      My neighbors here.
    </div>

    <div id="box-settings">
      My settings here.
    </div>
  </div>

</div>
