/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // header {
 //   height: 250px;
 //   width: 100%;
 //   font-family: 'Raleway' sans-serif;
 //   background-color: #ff9466;
 //   transition: all .75s ease-out;
 // }


@import "materialize/components/color";
$secondary-color: color("black", "base") !default;
@import "materialize";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Oxygen' sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  font-family: 'Raleway' sans-serif;
  transition: all .75s ease-out;
}

footer {
  width: 100%;
  transition: all .75s ease-out;
}

input:focus {
  outline: none;
}

/* Logo container and Logo */

.logo-container {
  width: calc(100% - 300px);
  height: 150px;
  margin-left: 200px;
  margin-right: 100px;

  div.logo {
    padding-top: .75em;
    font-size: 2em;
    font-family: 'Raleway' sans-serif;
    margin: 0 auto;
    text-align: center;

    span:first-child {
      color: #ff9466;
      font-weight: 600;
    }

    span:last-child {
      font-weight: 200;
      font-style: italic;
      color: #989898;
    }
  }
}


 .logo-expanded {
   height: 250px;
   width: 100%;
   margin: 0 auto;
   font-family: 'Raleway' sans-serif;
   background-color: #ff9466;
   transition: all .75s ease-out;

   div.logo {
     padding-top: 2em;
     font-family: 'Raleway' sans-serif;
     margin: 0 auto;
     text-align: center;
     font-size: 2.5em;

     span:first-child {
       color: white;
       font-weight: 600;
     }

     span:last-child {
      //  line-height: 6em;
       font-weight: 200;
       font-style: italic;
       color: lighten(#ff9466, 20%);
     }
   }

   div.motto {
     color: lighten(#ff9466, 20%);
     font-size: 1.5em;
     font-weight: 200;
     text-align: center;
     padding-top: .5em;
   }
 }

/* Sign up, login forms */

form {
  width: 100%;
  margin: 0.75rem 0;
  padding: .05rem;
  background: white;

  input {
    display: block;
    width: 100%;
    border: none !important;
    background-color: #f2f2f2 !important;
    height: 1rem;
    color: #989898;

    &[type='text'], &[type='password'], &[type="email"] {
      padding-left: 1em;
      width: calc(100% - 1em);
    }

    &[type='text']:focus:not([readyonly]), &[type='password']:focus:not([readyonly]), &[type="email"]:focus:not([readyonly]) {
      border-bottom: none !important;
      box-shadow: none !important;
      background-color: #ffe9e0 !important;
    }

    &[type='submit'] {
      color: white;
      height: 3em;
      margin-top: 0.15rem;
      border: none;
      background: #ff9466 !important;
      line-height: 1em;
      transition: all 0.25s ease;
      border: 1px solid white;
      -moz-box-shadow: 1px 4px 6px lightgray;
      -webkit-box-shadow: 1px 4px 6px lightgray;
      box-shadow: 1px 4px 6px lightgray;

      &:hover {
        // background: white !important;
        cursor: pointer;
        background-color: darken(#ff9466, 5%) !important;
        -moz-box-shadow: 1px 4px 6px darkgray;
        -webkit-box-shadow: 1px 4px 6px darkgray;
        box-shadow: 1px 4px 6px darkgray;
        // color: #ff9466;
        // border: 1px solid #ff9466 !important;
      }
    }
  }
}

.login-container {
  width: 450px;
}

.signup-login{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  height: 35px;

  div {
    text-align: center;
    width: 50%;

    a {
      color: #c1c1c1;
      text-decoration: none;
      transition: all 0.15s ease;

      &:hover {
        border-bottom: 1px solid #ff9466;
        color: #ff9466;
      }
    }
  }

  div:first-child {
    border-right: 1px solid #c1c1c1;
  }
}

.street {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-top: 0.5rem;

  .streetbig {
    flex: 2 0 0;
  }

  .streetsmall{
    flex: 1 0 0;
  }

  input {
    margin-top: 0;
  }

  input:first-child {
    margin-right: 0.5rem;
  }

}

.location{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  input {
    margin-top: 0.5rem;
    margin-right: 0.5rem !important;
  }

  input:last-child {
    margin-right: 0 !important;
  }
}

.message {
  width: 100%;
  padding: 1rem;
  color: red;
  // font-weight: bold;
  // background-color: green;
  font-family: inherit;
}

/* Welcome Page and message */

#welcome-container-expanded {
  width: 100%;
  // height: 52vh;

  div#welcome-message-expanded {
    width: 80%;
    margin: 0 auto;
    font-size: 1.75em;
    font-family: 'Raleway' sans-serif;
    color: darkgray;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;

    div:first-child {
      padding-top: 1.25em;
    }

    div:last-child {
      border-bottom: 1px solid lightgray;
      padding: 1.25em 0;

      i {
        transition: color .35s ease;

        &:hover {
          cursor: pointer;
          color: #ff9466;
        }
      }
    }
  }
}

/* APP window */

.app-window {
  display: inline-block;
  height: 500px;
  width: 800px;
  min-width: 500px;
  margin: 0 auto;
  // -webkit-box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.32);
  // -moz-box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.32);
  // box-shadow: 3px 5px 25px 0px rgba(0,0,0,0.32);
}

/* Navigation side bar */

#left-column {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 100vh;
  min-height: 350px;
  -moz-box-shadow: 1px 3px 6px lightgray;
  -webkit-box-shadow: 1px 3px 6px lightgray;
  box-shadow: 1px 3px 6px lightgray;
  padding-top: 5%;
  left: 0;
  transition: left .75s ease-out;

  div.nav-icon-container {
    height: 20%;
    width: 100%;
    padding-top: 10%;
    text-align: center;

    &:first-child {
      text-align: center;

      i {
        color: #F25F5C;
        opacity: .85;
      }
    }

    &:nth-child(2) {

      i {
        color: #247BA0;
        opacity: .85;
      }
    }

    &:nth-child(3) {

      i {
        color: #70C1B3;
        opacity: .85;
      }
    }

    &:nth-child(4) {
      margin-bottom: 10%;

      i {
        color: #FFE066;
      }
    }

    &:last-child {
      width: 85%;
      margin: 0 auto;
    }

  }

  i {
    transition: all 0.5s ease;
    padding: .35em;
    border-radius: .5em;
  }

  i:hover {
    cursor: pointer;
    color: darkgray !important;
    // color: white !important;
    // background-color: lightgray;

  }

  a + div {
    color: lightgray;
  }
}

.content {
    overflow: auto;
}
#logout {
  height: 15% !important;
  text-align: center;
  border-top: 1px solid lightgray;
}

#logout-button {
  padding-top: 5%;

  a {
    padding: .25em;
    color: darkgray;
    transition: all .15s ease;

    &:hover {
      border-bottom: 1px solid #ff9466;
      color: #ff9466;
    }
  }
}

#main-page {
  width: calc(100% - 300px);
  height: calc(100vh - 200px);
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  margin-left: 200px;
  margin-right: 100px;
  transition: all .5s ease-out;
}

#main-page-expanded {
  width: 100%;
  height: 73vh;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  transition: all .5s ease-out;
}

#map-canvas {
   width: 100%;
   height: 100%;
 }

/* Nav Burger */

#nav-burger-wrapper {
  width: 100%;
  position: fixed;
  top: -100%;
  background-color: #ff9466;
  height: 50px;
  z-index: 2;
  transition: all .75s ease;

    #nav-burger {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      vertical-align: top;
      height: 22px;
      width: 25px;
      margin: 12px 0 0 15px;
      z-index: 999;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;

      &:hover {
        cursor: pointer;
      }

      > span {
        display: inline-block;
        width: 25px;
        height: 4px;
        transition: all .5s ease;
        background-color: white;
      }
    }

    #nav-burger.open :first-child {
      transform: translateY(9px) rotate(45deg);
      -moz-transform: translateY(9px) rotate(45deg);
      -webkit-transform: translateY(9px) rotate(45deg);
      -o-transform: translateY(9px) rotate(45deg);
    }

    #nav-burger.open :nth-child(2) {
      transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
    }

    #nav-burger.open :last-child {
      transform: translateY(-9px) rotate(-45deg);
      -moz-transform: translateY(-9px) rotate(-45deg);
      -webkit-transform: translateY(-9px) rotate(-45deg);
      -o-transform: translateY(-9px) rotate(-45deg);
  }
}

#menu-wrapper {
  text-align: center;
  position: fixed;
  margin-top: 50px;
  z-index: 998;
  left: -150px;
  width: 150px;
  height: calc(100vh - 50px);
  transition: all .35s ease-out;
  background-color: white;
  -moz-box-shadow: 1px 3px 6px lightgray;
  -webkit-box-shadow: 1px 3px 6px lightgray;
  box-shadow: 1px 3px 6px lightgray;

  ul#menu {
    padding: 0;

    li {
      padding-top: 35px;

      &:first-child {

        i {
          color: #F25F5C;
          opacity: .85;
        }
      }

      &:nth-child(2) {

        i {
          color: #247BA0;
          opacity: .85;
        }
      }

      &:nth-child(3) {

        i {
          color: #70C1B3;
          opacity: .85;
        }
      }

      &:nth-child(4){

        i {
          color: #FFE066;
        }
      }

      &:last-child {
        width: 85%;
        margin: 0 auto;
      }

      i {
        transition: all 0.5s ease;
        padding: .35em;
        border-radius: .5em;
      }

      i:hover {
        cursor: pointer;
        color: darkgray !important;
        // color: white !important;
        // background-color: lightgray;

      }

      div {
        color: darkgray;
      }
    }
  }


  &.open {
    left: 0px;
  }
}

/* Footer */

.footer-container {
  width: 100%;
  height: 75px;
  background-color: #ff9466;
}

 /* Media Queries */

@media screen and (max-width: 800px) {
   #left-column {
     left: -100%;
   }
  // Materialize menu swipe not working well...
  //  #menu-wrapper {
  //    top: 0%;
  //  }

   #main-page, .logo-container {
     width: 90%;
     margin: 0 auto;
   }

   header {
     padding-top: 50px;
   }

   #nav-burger-wrapper {
     top: 0%;
   }
}

@media screen and (max-width: 500px) {
  #main-page, header {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {

    #menu-wrapper.open {
      left: -150px;
    }
}
