/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 20px;

}

body {
  font-family: monospace;
  padding-top: 10%;
  width: 480px;
  margin: 0 auto;

  background: #B5FFE1;
}

form {
  width: 100%;

  margin: 1rem 0;
  padding: .05rem;

  background: #4E878C;

  input {
    display: block;
    width: 100%;

    height: 2rem;
    padding: 0.5rem;

    + input {
      margin-top: 0.5rem;
    }
    &[type='submit'] {
      border: none;
      background: #4E878C;

      &:hover {
        background: #65B891;
      }
    }
  }
}

.signup-login{
  display: flex;
  justify-content: center;
  height: 35px;

  button {
    flex-grow: 1;
    background: #4E878C;
    &:hover {
      background: #65B891;
    }
    a {
      text-decoration: none;
    }
  }
}

.street {
  display: flex;
  margin-top: 0.5rem;
  .streetbig{
    flex: 2 0 0;
  }
  .streetsmall{
    flex: 1 0 0;
  }
  input {
    margin-top: 0;
  }

}

.location{
  display: flex;
  input {
    margin-top: 0;
  }
}
