/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize/components/color";
$input-border-color: color("grey", "base") !default;
@import "materialize";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Oxygen' sans-serif;
  font-weight: 300;
}

header {
  height: 150px;
  width: 100%;
  font-family: 'Raleway' sans-serif;
}

input:focus {
  outline: none;
}

/* Logo container and Logo */

.logo-container {
  width: 100%;
  height: 40%;

  div.logo {
    padding-top: .75em;
    font-size: 2em;
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: #ff9466;

    span {
      font-weight: 200;
      font-style: italic;
      color: #989898;
    }

  }

}

/* Sign up, login forms */

form {
  width: 100%;
  margin: 0.75rem 0;
  padding: .05rem;
  background: white;

  input {
    display: block;
    width: 100%;
    border: none !important;
    background-color: #f2f2f2 !important;
    height: 1rem;
    color: #989898;

    &[type='text'], &[type='password'], &[type="email"] {
      padding-left: 1em;
      width: calc(100% - 1em);
    }

    &[type='submit'] {
      color: white;
      height: 3em;
      margin-top: 0.15rem;
      border: none;
      background: #ff9466 !important;
      line-height: 1em;
      transition: all 0.25s ease;
      border: 1px solid white;

      &:hover {
        background: white !important;
        cursor: pointer;
        color: #ff9466;
        border: 1px solid #ff9466 !important;
      }
    }

      &:focus {
      border-bottom: 1px solid #ff9466;
    }
  }
}

.login-container {
  width: 450px;
  margin: 0 auto;
  margin-left: 0;
}

.signup-login{
  display: flex;
  justify-content: center;
  height: 35px;

  div {
    text-align: center;
    width: 50%;

    a {
      color: #c1c1c1;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        border-bottom: 1px solid #ff9466;
        color: #ff9466;
      }
    }
  }

  div:first-child {
    border-right: 1px solid #c1c1c1;
  }
}

.street {
  display: flex;
  margin-top: 0.5rem;

  .streetbig {
    flex: 2 0 0;
  }

  .streetsmall{
    flex: 1 0 0;
  }

  input {
    margin-top: 0;
  }

  input:first-child {
    margin-right: 0.5rem;
  }

}

.location{
  display: flex;

  input {
    margin-top: 0.5rem;
    margin-right: 0.5rem !important;
  }

  input:last-child {
    margin-right: 0 !important;
  }
}

.message {
  width: 100%;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: green;
  font-family: monospace;
}

/* APP window */

.app-window {
  display: inline-block;
  height: 500px;
  width: 60%;
  margin: 0 auto;
  -webkit-box-shadow: 3px 7px 25px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 3px 7px 25px 0px rgba(0,0,0,0.32);
  box-shadow: 3px 7px 25px 0px rgba(0,0,0,0.32);
}

/* Navigation side bar */

#left-column {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 150px);
  min-height: 350px;

  div.nav-icon-container {
    height: 25%;
    width: 100%;
    text-align: center;

    &:first-child {
      text-align: center;

      i {
        color: #F25F5C;
      }
    }

    &:nth-child(2) {

      i {
        color: #247BA0;
      }
    }

    &:nth-child(3) {

      i {
        color: #70C1B3;
      }
    }

    &:last-child {

      i {
        color: #FFE066;
      }
    }
  }
}

#main-column {
  width: 200px;
}


#main-page {
  display: flex;
}

.userlist {
  color: black;
}

.edit-space {
  width: 80%;
  color: white;
  background-color: lighten(#f47e7c, 5%);
}
