// Place all the styles related to the forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-forum-div {
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 450px;
  border: 1px solid lighten(#4f95b3, 20%);
  background-color: white;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -oz-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -oz-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -oz-align-items: center;

  .forum-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -oz-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -oz-justify-content: flex-start;
    background-color: #4f95b3;
    width: 100%;
    color: white;
    + div {
      margin-top: 16px;
    }

    h5 {
      margin-left: auto;
      margin-right: auto;
    }
  }

  div#forum-search {

    nav {

      div.nav-wrapper {

        form {
          padding: 0;
          box-shadow: none;
          div.input-field {
            // width: 100% !important;

            input {
            padding-left: 2rem !important;
            width: calc(100% - 2rem) !important;
            margin: 0 auto;
            }
          }
        }
      }
    }
  }
}


#forum-search {
  background-color: white;
  width: 100%;
}

#forum-items {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  div {
    height: 50px;
  }
}

#classified-all-modal,
#request-all-modal,
#announcements-all-modal {
  width: 75%;
  // height: 75%;
  overflow: hidden;
}

#announcements,
#classified-ads,
#requests {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -oz-flex-direction: column;

  a {
    margin: auto;
    padding: 5px 40%;

    &:hover {
      text-decoration: underline;
      color: darkgray;
    }
  }
}

#announcements, #classified-ads {
  border-bottom: 1px solid lightgray !important;
}

div.modal-header {
  width: 100%;
  padding-left: 1em;
  -moz-box-shadow: 1px 4px 6px lightgray;
  -webkit-box-shadow: 1px 4px 6px lightgray;
  box-shadow: 1px 4px 6px lightgray;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;

  h5, div.new-post-button {
    display: inline-block;
  }

  div.new-post-button {
    text-align: right;
    padding-right: 1em;
    display: flex;

    a {
      margin: auto;
    }
  }
}

.forum-list-content {
  height: 600px;
  overflow-y: scroll;

  div.list-outer-window {
    width: 100%;
    // height: 90%;
    overflow: auto;

    .post-content {
      padding: 10px;
      border-bottom: 1px solid darkgray;

      &:first-child {
        border-top: 1px solid darkgray;
      }

      h6 {
        font-size: 1.25em;
      }
    }
  }
}


.ible-header-forum {
  background-color: white;
  // border-top: 1px solid lighten(#4f95b3, 10%) !important;
  // border-bottom: 1px solid lighten(#4f95b3, 10%) !important;
  box-shadow: none !important;
  color: lighten(#4f95b3, 15%) !important;
}

.collapsible-body > * {
  padding-left: 1rem !important;
}

.collapsible-body {
  overflow: auto !important;

  ul {

    li {
      width: 90%;
      display: inline-block;
      padding-top: 1em;
    }
  }
}
