// Place all the styles related to the seggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.suggestion-window {
  width: 100%;
  height: 100%;
  border: 1px solid lighten(#FFE066, 10%);
  background-color: lighten(#FFE066, 10%);
  overflow: auto;

  > ul {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -oz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    padding: .5%;

    > li {
      text-align: center;
      width: calc(98.25% / 3);
      min-height: 150px;
      background-color: lighten(#FFE066, 35%);
      border: 1px solid lighten(#FFE066, 25%);
      margin: .125em;
      padding: .5%;
      transition: all .25s ease;
      color: darkgray;
      position: relative;

      &#add-button-container {
        display: flex;

        a {
          margin: auto;
          color: #FFE066;
          padding: 25% 25%;
          transition: all .75s ease;

          &:hover {
            color: lightgray;
          }
        }
      }

      h5 {
        font-size: 1.25em !important;
      }

      p {
        font-size: .85em !important;
        margin-bottom: 40px;
      }
    }

  }
}

.suggestion-form,
.user-edit-form,
.announcement-form,
.request-form,
.classified-form,
.comment-form,
.forum-form {

  width: 90%;
  margin: 3% auto;
  padding: 15px;

  label {
    font-size: 1.25em;
    margin-top: .75em;
  }

  textarea {
    min-height: 250px;
    resize: none;
    border: none;
    background-color: #f2f2f2;
    color: darkgray;
    padding: 1em;

    &:focus {
      outline: none;
      background-color: #ffe9e0;
    }
  }
}

.forum-gear {
  width: 2% !important;
  margin-left: 98% !important;
  position: relative !important;

  &:hover {
    color: #4f95b3 !important;
  }
}

.gear-icon {
  width: 10%;
  margin-left: 90%;
  position: relative;

  i {
    padding: 5px;

    + ul.suggest-menu, + ul.forum-menu {
      display: none;
      background-color: white;
    }
  }
    &:hover {
      color: #FFE066;
      cursor: pointer;

       ul.suggest-menu, ul.forum-menu {
        display: block;
        position: absolute;
        top: 25px;
        right: -1px;
        z-index: 3;
        width: 85px;
        padding: 5px;
        -webkit-box-shadow: 3px 3px 12px 2px rgba(189,185,189,1);
        -moz-box-shadow: 3px 3px 12px 2px rgba(189,185,189,1);
        box-shadow: 3px 3px 12px 2px rgba(189,185,189,1);

        li.suggest-options, li.forum-options {
          width: 100%;
          height: 15px;
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          display: -oz-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          text-align: left;
          min-height: 40px !important;
          background: none;
          border: none;

          form {

            input[type="submit"] {
              background: none !important;
              box-shadow: none !important;
              color: darkgray;
              margin: none;
              height: 20px;
              margin-top: none;

              &:hover {
                color: #FFE066;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          a#edit-suggestion {
            padding: none !important;
          }

          a {
            color: darkgray;
            padding: none;
            margin: auto;
            transition: all .25s ease;
            width: 100%;

            &:hover {
              color: #4f95b3;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        li.forum-options {
          form {

            input[type="submit"] {

              &:hover {
                color: #FFE066;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
      }

      ul.forum-menu {
        top: 25px;
        right: -5px;
        width: 75px;
      }
    }

}

.user-edit-form {

  margin: 2% auto;
  padding: 10px;

  textarea {
    min-height: 168px;
  }
}

.modal {
  max-height: 80% !important;
}

.vote-section {
  width: 100%;
  height: 30px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  position: absolute;
  bottom: 0;
  margin: 5px 0;

  div#vote-yes, div#vote-no, div#vote-results {
    width: 48%;
    margin: 0 20px;

    form {
      margin: 0;

      button {
        outline: none;
        border: none;
        background-color: white;
        color: darkgray;

        i {
          transition: color .25s ease;
        }

        i:hover {
          color: #FFE066;
        }
      }
    }
  }
}

.vote-progress-bar {
  background-color: darkgray;
  position: relative;
  height: 10px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  margin: 10px 0;

  div {
    display: inline-block;
    height: 10px;
    background-color: #FFE066;
    position: absolute;
  }
}

.open-voting,
.closed-voting {
  width: 100%;
  text-align: center;

  h5 {
    color: darkgray;
  }
}

// ::-webkit-scrollbar {
//   width: 10px;
//   /*height: 100px;*/
//   background-color: lighten(#FFE066, 10%);
//   cursor: pointer;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: white;
// }

input[type=text]:focus:not([readonly])+label {
  color: darkgray !important;
}

@media screen and (max-width: 920px) {
  .suggestion-window ul li {
    width: calc(97% / 3);
  }
}
