// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-window {
  height: 100%;
  position: relative;
  width: 100%;
  float: left;
  font-family: "Avenir" sans-serif;

  .left-column {
    height: 100%;
    width: 25%;
    float: left;

    a {
      width: 100%;
      height: calc(100% / 3);
      float: left;
      background: #FFE066;
      color: #F25F5C;
      text-align: center;
      line-height: 8em;

      &:first-child {
        border-bottom: 1px solid #F25F5C;
      }

      &:last-child {
        border-top: 1px solid #F25F5C;
      }

      &:active {
        background-color: #ffe993;
      }

      &:hover {
        background-color: #ffe993;
      }
    }

  }

  > .tab-content {
    display: inline;
    width: 75%;
    height: 100%;
    float: left;
    position: relative;

    > div {
      background-color: #ffe993;
      position:absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      &.default{
        z-index: 0;
        background-color: #ffe993;
      }

      &:not(:target):not(.default) {
        display: none;
      }

    }


  }

}

.user-show-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
