<div class="app-window">

  <div class="suggestion-window">

    <ul>
      <li>
        <a id="add-button" class="modal-trigger" href="#modal1"><i class="fa fa-plus fa-3x"></i></a>
      </li>
      <% @all_suggestions.each do |suggestion| %>
      <li>
        <h5><%= suggestion.title %></h5>
        <p>
          <%= suggestion.content %>
        </p>
      </li>
      <% end %>
    </ul>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <form class="suggestion-form" action="<%= suggestions_path %>" method="post">
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
          <label id="suggestion-title">Title</label>
          <input type="text"
                 name="suggestion[title]"
                 placeholder="Enter title">
          <label>Content</label>
          <textarea id="suggestion-content"
                 type="text"
                 name="suggestion[content]"
                 placeholder="Enter suggestion"></textarea>
          <input type="submit"
                 value="Make Suggestion!">
        </form>
      </div>
      <!-- <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div> -->
    </div>
  </div>

</div>
